body{
    margin-left: 10%;
    margin-right: 10%;
    background-color: #e3e7e8;
}
.list{
    display: flex;
    flex-wrap: wrap;
    /* background-color: whitesmoke; */
    
    justify-content:stretch;
}
.list .item{
    margin: 15px;
    background-color: white;
    box-shadow:  0px 10px 30px #706e6efb;
    padding: 1.95px;
}
.list img{
    width: 199px;
    height: 199px;
}
.card-body{
    /* background-color: rgba(245, 245, 245, 0.722); */
    /* width: 100%; */
    padding-bottom: 5px;
}
header{
    /* text-align: right; */
    /* display: grid; */
    /* grid-template-columns: 1fr 50px; */
}
header .shopping{
    position: relative;
    /* text-align: right; */
    display: flex;
    justify-content: right;
    z-index: 99;
}
.cart-card{
    position: fixed;
    top:0;
    left:calc(75%);
    background-color: black;
    width: calc(25%);
    height: 100vh;
    color: white;
    display: none;
    transition: 0.5s;
    z-index: 9999;
}
.card-body button{
    width: 100%;
    padding: 10px;
    font-weight: bolder;
    color: white;
    background-color: black;

}
.checkout{
    background-color: #e3e7e8;
    color: black;
    padding: 10px;
    font-size: larger;
    font-weight: bolder;
}

.shopping img{
    width:60px;
    position: relative;
}
.shopping span{
    position: absolute;
    /* left:99%; */
    color: white;
    background-color: red;
    padding:3px ;
    top: -5px;
    border-radius: 50%;  

}
.cart-buttons{
    width: 100%;
    display: flex;
    justify-content: center;
}
.closeShopping, .pay{
    width:40%;
    height: 30px;
    background-color: red;
    /* padding: auto; */
    color: white;
    font-size: large;
    font-weight: bolder;
    text-align: center;
}
.cartlist li{
    display: flex;
    margin-bottom: 15px;
    /* justify-content:stretch; */
}
.cartlist img{
    width:40px;
    margin-right:5px ;
}
.cartlist button{
    background-color: red;
    margin-left: 10%;
}
.quantity-control{
    background-color:white;
    display: flex;
    margin-left: 15px;
    color: black;
    justify-content: space-evenly;
    width: 80px;
    align-items: center;
}